<footer>
    <div>
      <a href="/products/productList">Comprar</a>
      <a href="/index#historia-link">Acerca de nosotros</a>
      <a href="/index#marcas-link">Marcas</a>
      <a href="/index#contactanos-link">Contacto</a>
    </div>
  </footer>