<header>
    <nav>
        <a href="/productList">Comprar</a>
        <a href="#contactanos-link">Contáctanos</a>
        <img class= "logo" src="/img/logotipo-sin.png" alt="Logotipo empresa" title="logotipo">
        <a href="#historia-link">Historia</a>
        <a href="#marcas-link">Marcas</a>
        
        <div class="links">
            <a href="/productCar"><i class="fas fa-shopping-cart"></i></a>
            <a href="/login"><i class="fas fa-sign-in-alt"></i></a>
            <a href="/register"><i class="fas fa-user-plus"></i></a>
            <a href="/profile"><i class="far fa-user"></i></a>
        </div>
    </nav>
</header>