<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>The Ice Cream Shop</title>
    <link rel="icon" href="https://cdn-icons.flaticon.com/png/512/1065/premium/1065305.png?token=exp=1634781686~hmac=7b54f983146b03901877211e3815ec64">
    <link rel="stylesheet" href="/css/normalize.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap"
      rel="stylesheet"
    />
    <script src="/js/selectMobile.js" type="text/javascript"></script>
    <script src="/js/detail.js" type="text/javascript"></script>
    <script src="/js/addProd.js" type="text/javascript"></script>
    <script src="/js/updateProd.js" type="text/javascript"></script>
    <script src="/js/deleteProd.js" type="text/javascript"></script>
    <script src="/js/showPrice.js" type="text/javascript"></script>
    <script src="/js/filterProd.js" type="text/javascript"></script>
    <script src="/js/productsValidations.js" type="text/javascript"></script>
    <script src="/js/profileValidations.js" type="text/javascript"></script>
    <script src="https://kit.fontawesome.com/433c4ae66d.js" crossorigin="anonymous"></script>
  </head>