<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head') %>
<header>
    <nav>
        <div> </div>
        <div> </div>
    <div class="nav-option" id="desktop-op">
        <img class= "logo" src="/img/logo_errores/logotipo-sin.png" alt="Logotipo empresa" title="logotipo">
    </div>
    
</nav>
</header>
<body>
    <main>
        <h1>¡Alto ahi!</h1>
        <p>Lo sentimos, la página que buscas no existe</p>
        
    <img src="/img/stopAccess.png" style="width: 500px;" alt="">
    <div class="ex2">
        <a href="/index">Regresar a la pagina principal</a>
    </div>
    </main>
    
</body>
<footer>

</footer>
</html>


