<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head') %>
<header>
    <nav>
        <div> </div>
        <div> </div>
    <div class="nav-option" id="desktop-op">
        <img class= "logo" src="/img/logotipo-sin.png" alt="Logotipo empresa" title="logotipo">
    </div>
    <div class="ex2">
        <a href="/index">Página principal</a>
    </div>
</nav>
</header>
<body>
    <div class="ex3">
    <p class="err">¡ERROR!</p>
    </div>
    <div class="ex">
    <p class="err">Lo sentimos, no se encuentra la página seleccionada</p>
    <img src="../img/err.jpg" class="err1" alt="">
    </div>
</body>
<footer>

</footer>
</html>