<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Fenix&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Cardo:wght@700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/433c4ae66d.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/style.css">
    <title>Homepage</title>
</head>
<body>
    <header>
        <nav>
            <a href="/productList">Comprar</a>
            <a href="#contactanos-link">Contáctanos</a>
            <img class= "logo" src="/img/logotipo-sin.png" alt="Logotipo empresa" title="logotipo">
            <a href="#historia-link">Historia</a>
            <a href="#marcas-link">Marcas</a>
            
            <div class="links">
                <a href="/productCar"><i class="fas fa-shopping-cart"></i></a>
                <a href="/login"><i class="fas fa-sign-in-alt"></i></a>
                <a href="/register"><i class="fas fa-user-plus"></i></a>
                <a href="/profile"><i class="far fa-user"></i></a>
            </div>
        </nav>
    </header>
    <main>
        <section>
            <div class="mySlides">
                <div class="numbertext"></div>
                  <img src="/img/1.png" style="width:100%">
              </div>
              <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
              <a class="next" onclick="plusSlides(1)">&#10095;</a>
        </section>
        <section>
            <header>
                <h2>Acerca de nosotros</h2>
            </header>
            <article id="historia-link" class="historia">
                Nuestra historia: Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sed rem blanditiis esse dolor. Minus beatae eius animi sit, id placeat hic, quia iure ad, architecto nulla quam autem natus. Beatae.
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Autem, aut quidem! Sed dicta inventore saepe aliquid, corrupti, modi ea deleniti iure iste similique doloremque ab hic? Architecto quas esse odio.
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aut nam blanditiis enim nobis omnis debitis quasi. Velit non est sequi temporibus, omnis nihil quae repellat obcaecati reiciendis adipisci ipsum dolorem.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias ut reiciendis maxime adipisci saepe rerum, quod velit provident rem sunt magnam, labore error nesciunt at ducimus in facilis architecto corrupti?
            </article>
        </section>
        <section id="marcas-link" class="container-2">
            <div class="gallery">
            <figure class="gallery-item-1">
                <img src="/img/ben-jerrys-homepage.jpeg"class="gallery-img" alt="Image 1">
            </figure>
            <figure class="gallery-item-2">
                <img src="/img/blue-bell-homepage.jpeg" class="gallery-img" alt="Image 2">
            </figure>
            <figure class="gallery-item-3">
                <img src="/img/blue-bell-homepage.png" class="gallery-img" alt="Image 3">
            </figure>
            <figure class="gallery-item-4">
                <img src="/img/haagen-dazs-homepage.jpeg" class="gallery-img" alt="Image 4">
            </figure>
            <figure class="gallery-item-5">
                <img src="/img/holanda-homepage.webp" class="gallery-img" alt="Image 5">
            </figure>
            <figure class="gallery-item-6">
                <img src="/img/thrifty-homepage.jpg" class="gallery-img" alt="Image 6">
            </figure>
            </div>
        </section>
       <div id="contactanos-link" class="contacto-box">
        <section class="contacto">
            <p>Síguenos en Instagram<a href="#">@TheIceCreamShop</a></p>
            <i class="fab fa-instagram"></i>
        </section>
        <section class="comentario">
            <textarea name="textarea" rows="10" cols="40">    Déjanos tus comentarios</textarea>
            <div class="botones-comentario">
                <button type="reset" class="comments-button-left">Borrar</button>
                <button type="submit" class="comments-button-right">Enviar</button>
            </div>
        </section>
       </div>
    </main>
    <footer>
        <div>
            <a href="/productList">Comprar</a>
            <a href="#historia-link">Historia</a>
            <a href="#marcas-link">Marcas</a>
            <a href="#contactanos-link">Contáctanos</a>
        </div>
    </footer>
</body>
</html>