<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Fenix&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Cardo:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/public/css/style.css">
    <title>Detalle del Producto</title>
</head>
<body>
    <header>
        <div>
            <img src="/public/img/logotipo-sin.png" alt="Logotipo empresa" title="logotipo">
            <nav class="links">
                <a href="/views/productCar.html"><i class="fas fa-shopping-cart">Carrito de Compras</i></a>
                <a href="/views/login.html"><i class="fas fa-sign-in-alt">Iniciar Sesión</i></a>
                <a href="/views/register.html"><i class="fas fa-user-plus">Registrarse</i></a>
            </nav>
        </div>
    </header>
    <main>
        <section>
            <article class="product-img">
                <img src="/public/img/holanda-chocolate.webp" alt="imagen-producto" title="helado-holanda-chocolate">
            </article>
            <article class="descripcion">
                <h1>Holanda: Sabor Chocolate</h1>
                <h3>Descripción:</h3>
                <p>Conformado por leche descremada rehidratada (31%), agua, azúcares, grasa vegetal (6.9%), sólidos de leche (leche descremada en polvo y suero de leche en polvo), cocoa en polvo, emulsificantes (mono, di y triglicéridos), alginato de sodio y saborizante idéntico al natural.</p>
                <h3>Presentación:</h3>
            <div class="inputs">
                <input type="checkbox" name="medioLt" id="medioLt"> 1/2 Litro
                <input type="checkbox" name="unLt" id="unLt"> 1 Litro
                <input type="checkbox" name="un-ocho" id="un-ocho"> 1.89 Litros
            </div>
            <div class="precios">
                <h3>Precio:</h3>
                <p>$49.99</p>
            </div>
            <input class="button" type="button" value="AGREGAR AL CARRITO DE COMPRA">
            </article>
        </section>
    </main>
    <footer>
        <div>
            <i class="far fa-copyright">2021 The Ice Cream Shop. Todos los derechos reservados.</i>
        </div>
    </footer>
</body>
</html>