<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>The Ice Cream Shop</title>
    <link rel="stylesheet" href="/css/normalize.css" />
    <link rel="stylesheet" href="/css/style-2.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <header>
      <nav>
        <a href="/productList">Comprar</a>
        <a href="/index#marcas-link">Marcas</a>
        <img
          class="logo"
          src="/img/logotipo-sin.png"
          alt="Logotipo empresa"
          title="logotipo"
        />
        <a href="/index#historia-link">Historia</a>
        <a href="#">Contacto</a>
      </nav>
    </header>
    <main class="main-product-list">
        <div class="ordenar-filtar-container">
          <button class="ordenar-filtrar-button">Ordenar & Filtrar</button>
          <div class="ordenar-checkbox-container">
          <label for="ordenar">Ordenar por: </label>
          <select name="ordenar" id="ordenar">
            <option value="populares">Mas populares</option>
            <option value="recientes">Recientes</option>
            <option value="precio-as">Precio: ascendente</option>
            <option value="precio-des">Precio: descendente</option>
          </select>
        </div>
        </div>
        <div class="filtros">
          <form action="GET" class="filter-form">
            <h3>Filtros</h3>
            <div class="category">
              <h3>Marcas</h3>
              <div class="filter-group-checkboxes">
                <div>
                  <label><input type="checkbox" name="holanda"> Holanda</label>
                </div>
                <div>
                  <label><input type="checkbox" name="b&j"> Ben & Jerry's</label>
                </div>
                <div>
                  <label><input type="checkbox" name="hageen"> Häagen-Dazs</label>
                </div>
                <div>
                  <label><input type="checkbox" name="blue"> Blue Bell</label>
                </div>
                <div>
                  <label><input type="checkbox" name="thrifty"> Thrifty</label>
                </div>
              </div>
            </div>
            <div class="category">
              <h3>Precio</h3>
              <div class="filter-group-checkboxes">
                <div>
                  <label><input type="checkbox" name="ceroAVeinte"> 0 - $25</label>
                </div>
                <div>
                  <label><input type="checkbox" name="veinticinco"> $25 - $50</label>
                </div>
                <div>
                  <label><input type="checkbox" name="cincuenta"> $50 - $75</label>
                </div>
                <div>
                  <label><input type="checkbox" name="setentaCien"> $75 - $100</label>
                </div>
                <div>
                  <label><input type="checkbox" name="cien"> $100 - $125</label>
                </div>
                <div>
                  <label><input type="checkbox" name="cienCincuenta"> $125 - $150</label>
                </div>
                <div>
                  <label><input type="checkbox" name="cienCincuentaDos"> $150 - $200</label>
                </div>
                <div>
                  <label><input type="checkbox" name="doscientosMas"> $200+</label>
                </div>
              </div>
            </div>
        </form>
        </div>
    </main>
    <footer>
      <div>
        <a href="/productList">Comprar</a>
        <a href="/index#historia-link">Acerca de nosotros</a>
        <a href="/index#marcas-link">Marcas</a>
        <a href="#">Contacto</a>
      </div>
    </footer>
  </body>
</html>
