<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>The Ice Cream Shop</title>
    <link rel="stylesheet" href="/css/normalize.css" />
    <link rel="stylesheet" href="/css/style-2.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <header>
      <nav>
        <a href="/productList">Comprar</a>
        <a href="#">Marcas</a>
        <img
          class="logo"
          src="/img/logotipo-sin.png"
          alt="Logotipo empresa"
          title="logotipo"
        />
        <a href="#">Historia</a>
        <a href="#">Contacto</a>
      </nav>
    </header>
    <main class="main-product-list">
      <section class="product-list-background">
        <div class="ordenar">
          <label for="ordenar">Ordenar por: </label>
          <select name="ordenar" id="ordenar">
            <option value="populares">Mas populares</option>
            <option value="recientes">Recientes</option>
            <option value="precio-as">Precio: ascendente</option>
            <option value="precio-des">Precio: descendente</option>
          </select>
        </div>
        <div class="container-main-product-list">
          <div class="container-filter">
              <form action="GET" class="filter-form">
            <h3>Filtros</h3>
            <div class="category">
              <h3>Marcas</h3>
              <div class="marcas-checkboxes">
                  <label for="holanda">Holanda</label>
                  <input type="checkbox" name="holanda">

                  <label for="b&j">Ben & Jerry's</label>
                  <input type="checkbox" name="b&j">

                  <label for="hageen">Häagen-Dazs</label>
                  <input type="checkbox" name="hageen">
              </div>
            </div>
            <div class="category">
              <h3>Precio</h3>
            </div>
        </form>
          </div>
          <div class="product-grid">
            <article class="product-container">
                <img src="" alt="">
                <h4>Nombre producto</h4>
                <p>Precio</p>
            </article>
            <article class="product-container">
                <img src="" alt="">
                <h4>Nombre producto</h4>
                <p>Precio</p>
            </article>
            <article class="product-container">
                <img src="" alt="">
                <h4>Nombre producto</h4>
                <p>Precio</p>
            </article>
            <article class="product-container">
                <img src="" alt="">
                <h4>Nombre producto</h4>
                <p>Precio</p>
            </article>
            <article class="product-container">
                <img src="" alt="">
                <h4>Nombre producto</h4>
                <p>Precio</p>
            </article>
            <article class="product-container">
                <img src="" alt="">
                <h4>Nombre producto</h4>
                <p>Precio</p>
            </article>
          </div>
        </div>
      </section>
    </main>
    <footer>
      <div>
        <a href="/productList">Comprar</a>
        <a href="#">Acerca de nosotros</a>
        <a href="#">Marcas</a>
        <a href="#">Contacto</a>
      </div>
    </footer>
  </body>
</html>
