*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fenix', serif;
}
header{
    background-color:  #e4d4dd;
    width: 100vw;
}
header >div{
    display: flex;
    justify-content:space-between;
    align-items: flex-start;
    width: 100vw;
}
.links i{
    display: block;
    padding: 5px 10px;
    font-size: 8px;
}
header div img{
    width: 50px;
    margin-left: 40%;
}
main{
    background-color: #D1B3C4;
    padding: 40px;
    width: 100vw;
}
.product-img{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F7D1CD;
    width: 100%;
}
.product-img img{
    width: 70%;
    background-color: #F7D1CD;
}
.descripcion {
    padding: 10%;
    width: 100%;
    height: 100%;
}
.descripcion p{
    text-align: justify;
    font-size: 10px;
}
main section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    background-color: #F7D1CD;
    border: solid  #b392ac 5px;
}
h3, label{
    font-family: 'Cardo', serif;
    font-size: 10px;
}
.inputs, h1{
    text-align: center;
    font-size: 12px;
}
h1{
    background-color: #F7D1CD;
    font-family: 'Cardo', serif;
    font-size: 12px;
}
.precios p{
    font-size: 12px;
    text-align: center;
    font-weight: bold;
}
#cantidadCompra{
    font-size: 12px;
    padding: 2px;
    width: 20%;
    text-align: center;
    display: inline;
}
button{
    display: flex;
    align-self: center;
    background-color: #735D78;
    border: none;
    border-radius: 10px;
    color: white;
    font-size: 10px;
    margin: 10px;
    padding: 5px;
    text-align: center;
}
footer{
    height: 30%;
    background-color:  #e4d4dd; 
    padding:20px; 
    font-size: 12px;
    width: 100vw;
}
@media (min-width: 480px){
    .links i, .descripcion p, h3, label, .inputs, .precios p, #cantidadCompra, button{
        font-size: 1em;
        }
    header div img{
        width: 100px;
        }
    h1{
        padding: 2%;
        font-size: 1em;
    }
}
@media (min-width: 768px){
    .links i{
        padding: 5px 20px;
        }
    header div img{
        width: 120px;
        margin-left: 45%;
            }
    .product-img img{
        width: 100%;
        height: 65vh;
        }
    .descripcion{
        width: 100%;
        height: 100%;
        padding-top:35px;
    }
    .product-img{
        width: 1500px;
        margin: 0px;
    }
    main section{
        flex-direction: row-reverse;
        }
    }
@media (min-width: 1279px){
    .links i, .descripcion p,h3, label,#cantidadCompra,button, footer {
        font-size: 1.2em;
        }
    header div img{
        width: 150px;
        }
    .descripcion{
        padding-top:10px;
    }
    .product-img{
        width: 1500px;
        margin: 0px;
    }
    .product-img img{
        width: 80%;
        height: 75vh;
        }
    .inputs, h1{
        font-size: 1.5em;
        }
    .precios p{
        font-size: 2em;
        }
}