:root {
  --pale-pink: #f7d1cd;
  --queen-pink: #e8c2ca;
  --thistle: #d1b3c4;
  --glossy-grape: #b392ac;
  --old-lavender: #735d78;
  --logo-back: #e4d4dd;
  --dark-lavender: #65526a;
}

@font-face {
  font-family: Cervo-Neue-Black;
  src: url(CervoNeue-BlackNeue.otf);
}

@font-face {
  font-family: Cervo-Neue-Bold;
  src: url(CervoNeue-BoldNeue.otf);
}

@font-face {
  font-family: Cervo-Neue-Regular;
  src: url(CervoNeue-RegularNeue.otf);
}

@font-face {
  font-family: Cervo-Neue-Light;
  src: url(CervoNeue-LightNeue.otf);
}

@font-face {
  font-family: Museo-Sans-Thin;
  src: url(MuseoSans-100.otf);
}

@font-face {
  font-family: Museo-Sans-Light;
  src: url(MuseoSans-300.otf);
}

@font-face {
  font-family: Museo-Sans-Medium;
  src: url(MuseoSans-500.otf);
}

@font-face {
  font-family: Museo-Sans-Bold;
  src: url(MuseoSans-700.otf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Cervo-Neue-Bold", sans-serif;
}

header {
  background-color: #e4d4dd;
  width: 100%;
  padding: 15px;
  font-size: 14px;
}

header nav {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
  font-size: 12px;
}

nav a,
footer a {
  text-decoration: none;
  color: var(--dark-lavender);
}

footer {
  background-color: #e4d4dd;
  width: 100%;
}

footer div {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  font-size: 12px;
}

main {
  background-color: #d1b3c4;
}

h2 {
  color: #65526a;
}

h5 {
  padding-bottom: 20px;
  color: #735d78;
  font-weight: bold;
}

.links {
  width: 0.5%;
}

.links i {
  display: block;
  padding: 5px 10px;
  font-size: 8px;
  justify-content: left;
}

.logo {
  width: 50px;
  height: 50px;
}

.container {
  position: relative;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.container-2 {
  width: 90%;
  margin: 2rem auto;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(9, 5vw);
  grid-gap: 15px;
}

.gallery-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.gallery-item-1 {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 4;
}

.gallery-item-2 {
  grid-column-start: 4;
  grid-column-end: 7;
  grid-row-start: 1;
  grid-row-end: 4;
}

.gallery-item-3 {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 4;
  grid-row-end: 7;
}

.gallery-item-4 {
  grid-column-start: 4;
  grid-column-end: 7;
  grid-row-start: 4;
  grid-row-end: 7;
}

.gallery-item-5 {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 7;
  grid-row-end: 10;
}

.gallery-item-6 {
  grid-column-start: 4;
  grid-column-end: 7;
  grid-row-start: 7;
  grid-row-end: 10;
}

.historia {
  background-color: #e4d4dd;
  color: #65526a;
  text-align: center;
  padding: 20px;
  font-size: 12px;
}

.contacto {
  text-align: center;
  color: #65526a;
  padding: 15px;
  font-size: 12px;
}

.contacto i {
  padding: 10px;
  font-size: 22px;
  color: #735d78;
}

.contacto-box {
  width: 100%;
  padding: 20px;
}

.comentario {
  text-align: center;
}

.botones-comentario {
  text-align: center;
}

.seguir-comprando {
  padding: 15px;
  display: flex;
  justify-content: space-between;
}

.seguir-comprando a {
  text-decoration: none;
}

.seguir-comprando button {
  background-color: #735d78;
  color: #fff;
  text-shadow: none;
  box-shadow: none;
  padding: 5px;
}

.main-2 {
  background-color: #fff;
}

.shopping-cart {
  width: 100%;
  border: 2px solid #735d78;
}

.title {
  color: #735d78;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  padding: 15px 20px 15px 10px;
  font-size: 12px;
}

.image {
  width: 25%;
}

.item {
  display: flex;
}

.description {
  font-size: 10px;
  padding: 10px;
  width: 30%;
}

.quantity {
  width: 30%;
  text-align: center;
}

.total-price {
  width: 15%;
  text-align: center;
  font-size: 12px;
}

.ticket {
  width: 100%;
  border: 2px solid #f7d1cd;
  padding: 10px;
}

.ticket button {
  background-color: #735d78;
  color: #fff;
  text-shadow: none;
  box-shadow: none;
  padding: 5px;
}

.ticket-info {
  display: flex;
  justify-content: space-evenly;
}

.ticket-column-1 p,
.ticket-column-2 p {
  font-size: 12px;
  padding: 5px;
}

/* Login */

.main-login {
  background: linear-gradient(to right top, #b392ac, #e8c2ca);
  min-height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.glass-container{
    min-height: 68vh;
    width: 85%;
    max-width: 360px;
    border-radius: 1rem;
    position: relative;
}

.glass-login{
    background: white;
    min-height: 68vh;
    width: 100%;
    max-width: 360px;
    background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.5),
    rgba(255, 255, 255, 0.1)
  );
    border-radius: 1rem;
    z-index: 2;
    position: absolute;
    backdrop-filter: blur(1.2rem);
    display: flex;
    flex-direction: column;
    text-align: center;
}

.login-background {
  width: 100%;
  height: 75vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 40px 25px;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.5),
    rgba(255, 255, 255, 0.1)
  );
  backdrop-filter: blur(1.2rem);
  width: 400px;
  height: 400px;
  text-align: center;
  border-radius: 5px;
  z-index: 1;
}

.glass-login h3 {
  font-weight: bold;
  margin-top: 40px;
  margin-bottom: 10px;
  color: #65526a;
  font-size: 20px;
}

.glass-login p {
  margin-bottom: 20px;
  font-family: "Museo-Sans-Medium", sans-serif;
  color: #65526a;
  font-size: 12px;
}

.glass-login p a {
  margin-bottom: 20px;
  font-family: "Museo-Sans-Medium", sans-serif;
  font-size: 12px;
  text-decoration: none;
}

.login-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-control {
  width: 80%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.form-control label {
  display: block;
  align-self: flex-start;
  color: #65526a;
  font-family: "Cervo-Neue-Bold", sans-serif;
  font-size: 16px;
  margin-bottom: 5px;
  margin-top: 8px;
}

.form-control input[type=email], .form-control input[type=password] {
  align-self: flex-start;
  width: 100%;
  height: 28px;
  font-family: "Museo-Sans-Light", sans-serif;
  font-size: 13px;
  color: #65526a;
  border: none;
  border-radius: 5px;
  padding-left: 4px;
}

input:focus-visible {
  border: solid 2px #65526a;
  outline: none;
}

.form-control a {
  font-family: "Museo-Sans-Medium", sans-serif;
  margin-top: 16px;
  text-align: right;
  font-size: 12px;
  text-decoration: none;
}

.login-button {
  margin-top: 50px;
  padding: 6px 28px;
  border: none;
  font-family: "Cervo-Neue-Regular", sans-serif;
  font-size: 16px;
  background-color: #735d78;
  color: white;
  transition: all 0.5s;
}

.login-button:hover{
    background-color: #b45ecc;
}

.ice-cream-cone-img-1, .ice-cream-cone-img-2{
    display: none;
}

@keyframes iceCream1 {
    0% {
        display: block;
    }

    100%{
            width: 15rem;
            top: 11%;
            left: -43%;
            transform: rotate(-13deg);
    }
    
}
@keyframes iceCream2 {
    0%{
        display: block;
    }

    100%{
        width: 15rem;
        top: 45%;
        left: 76%;
        -webkit-transform: scaleX(-1);
        transform: rotate(13deg) scaleX(-1);
    }
    
}

/* Product List */

.main-product-list{
  background: linear-gradient(to right top, #b392ac, #e8c2ca);
  min-height: 90vh;
}

.ordenar-filtar-container{
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10px;
}

.ordenar-filtrar-button{
  font-family: "Cervo-Neue-Regular", sans-serif;
  font-size: 14px;
  background-color: #735d78;
  padding: 6px 10px;
  margin: 8px;
  color: white;
  border: none;
  transition: all 0.5s;
}

.ordenar-filtrar-button:hover{
  background-color: #b45ecc;;
}

.ordenar-checkbox-container{
  display: none;
  margin: 0px 20px;
padding-top: 10px;

}

.filters-products {
  display: flex;
  justify-content: space-around;
}

.filtros{
  display: none;
}

.container-main-product-list{
    display: flex;
    justify-content: space-between;
}

.category h3{
    font-family: 'Cervo-Neue-Regular', sans-serif;
    margin: 10px;
}

.apply-button{
  display: block;
 margin-top: 30px;
 margin-left: 70px;
  font-family: "Cervo-Neue-Regular", sans-serif;
  font-size: 14px;
  background-color: #735d78;
  padding: 6px 14px;
  color: white;
  border: none;
  transition: all 0.5s;
  align-self: center;
}

.apply-button:hover{
  background-color: #b45ecc;
}

.productos{
    width: 100vw;
    max-width: 1200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: baseline;
    position: relative;
}

.product-container{
    width: 100%;
    max-width: 180px;
    background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.3));
    backdrop-filter: blur(1.2rem);
    border-radius: 0.2rem;
    margin: 10px;
    min-height: 247px;
}

@keyframes hoverProduct {
  0% {
  }
  100%{
    color: #b45ecc;
  }
}

.product-container:hover{
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
}

.product-container div {
  min-height: 170px;
  display: flex;
  align-items: flex-end;
}

.product-container img{
  width: 60%;
  display: block;
  margin-top: 20px;
  margin-bottom: 15px;
  margin-left: auto;
  margin-right: auto;
  padding: 5px;
}

.product-container h4{
  text-align: center;
  color: #65526a;
  padding: 8px;
  font-size: 14px;
}

.product-container p{
  text-align: center;
  color: grey;
  margin-bottom: 10px;
  font-size: var(--dark-lavender);
}

.product-container:hover > h4{
  animation: hoverProduct 0.4s forwards;
}

/* Registro */
.registro {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("/img/fondo.jpg");
  background-size: 50%;
}
.tabla-registro {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  margin: 5%;
  padding: 15px;
  background-color: #b392ac;
  text-align: center;
  border-radius: 10px;
  width: 75%;
}
.tabla-registro h3 {
  font-family: "Cardo", serif;
  margin: 20px;
  color: white;
  font-size: 26px;
}
.tabla-registro p {
  margin: 0px 5px 10px;
  font-family: "Museo-Sans-Medium", sans-serif;
  color: #65526a;
  font-size: 10px;
  text-align: center;
}
.tabla-registro h2 {
  margin-bottom: 20px;
  font-family: "Museo-Sans-Medium", sans-serif;
  font-size: 14px;
  text-align: justify;
}
.register-form div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  text-align: center;
  font-weight: none;
  padding: 5px;
}
.register-form div div {
  display: flex;
  flex-direction: column;
  margin: 5px;
  align-items: center;
  padding: 5px;
}
.register-form div div input {
  border: none;
  border-radius: 8px;
  padding: 4px;
  margin: 2px;
  font-family: "Fenix", serif;
  font-size: 16px;
  width: 300px;
}
.register-form div div label {
  align-self: flex-start;
  margin: 5px;
}
.button-register {
  margin: 15px;
  border-radius: 12px;
  padding: 6px 28px;
  border: none;
  font-family: "Cervo-Neue-Regular", sans-serif;
  font-size: 18px;
  background-color: #735d78;
  color: white;
}

/* Perfil */
.mainPerfil{
  padding: 15px;
  background-color:  #b392ac; 
}
article.perfil, .historial{
  border: none;
  border-radius: 5px;
  background-color:  #e8c2ca;
  margin: 0px 10px;
}
article.perfil form{
  display: flex;
  flex-direction: column;
  margin: 5px;
  align-items: flex-end;
  line-height: 35px;
}
article.perfil form input{
  width: 230px;
  padding: 3px;
  margin-right: 2px;
  border: none;
  border-radius: 5px;
}
#fotoPerfil{
  display: flex;
  align-self: center;
  padding: 3px;
}
article.perfil form button{
  margin: 15px;
  border-radius: 12px;
  padding: 6px 28px;
  border: none;
  font-family: "Cervo-Neue-Regular", sans-serif;
  font-size: 18px;
  background-color: #735d78;
  color: white;
  display: flex;
  align-self: center;
}
.titulos{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.titulos h1{
  font-family: "Cardo", serif;
  font-size: 16px;
}
.enh3 h3{
  padding-top: 10px;
  font-family: "Cardo", serif;
  font-size: 26px;
  text-align: center;
}
.historial div img{
  width: 100px;
}
.historial div{
  display: flex;
  flex-direction: row;
  font-weight: none;
  justify-content: space-around;
  align-items: center;
  font-size: 16px;
}
.fec{
  display: flex;
  justify-content: flex-end;
  margin-top: 15px;
}
#fechas{
  border-radius: 6px;
  margin: 0px 10px;
}
.historial .pagoFinal{
  margin:0px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  text-align: left;
}
.pagoFinal h1, .pagoFinal p{
  font-size: 26px;
}

@media (min-width: 480px) {
  header nav,
  .historia,
  .contacto {
    font-size: 18px;
  }

  header {
    font-size: 20px;
  }

  .logo {
    width: 100px;
    height: 100px;
  }

  .gallery {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(6, 5vw);
    grid-gap: 15px;
  }

  .gallery-item-1 {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 4;
  }

  .gallery-item-2 {
    grid-column-start: 4;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 4;
  }

  .gallery-item-3 {
    grid-column-start: 7;
    grid-column-end: 10;
    grid-row-start: 1;
    grid-row-end: 4;
  }

  .gallery-item-4 {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 4;
    grid-row-end: 7;
  }

  .gallery-item-5 {
    grid-column-start: 4;
    grid-column-end: 7;
    grid-row-start: 4;
    grid-row-end: 7;
  }

  .gallery-item-6 {
    grid-column-start: 7;
    grid-column-end: 10;
    grid-row-start: 4;
    grid-row-end: 7;
  }

  .title {
    font-size: 14px;
  }

  .description {
    font-size: 12px;
  }

  .container-product-cart {
    display: flex;
  }

  footer div {
    font-size: 18px;
  }

  .ice-cream-cone-img-1, .ice-cream-cone-img-2{
    width: 9rem;
    display: block;
}

.ice-cream-cone-img-1{
    z-index: 0;
    position: absolute;
    order: 1;
    top: 9%;
    left: -23%;
}

.ice-cream-cone-img-2{
    z-index: 0;
    position: absolute;
    top: 62%;
    left: 77%;
    -webkit-transform: scaleX(-1);
    transform: rotate(180deg) scaleX(-1);
}

.links i {
  font-size: 10px;
}

}

@media (min-width: 768px) {
  .registro {
    background-size: 50%;
  }
  .tabla-registro {
    width: 50%;
  }
  .ice-cream-cone-img-1{
      animation: iceCream1 3s 1 forwards;
  }
  .ice-cream-cone-img-2{
      animation: iceCream2 3s 1 forwards;
  }
  .ordenar-filtrar-button{
    display: none;
  }
  
  .ordenar-checkbox-container{
    display: flex;
    justify-content: space-around
  }

  .ordenar-checkbox-container label{
    color: #65526a;
  }

  #ordenar{
    margin-left: 5px;
    border: none;
    font-family: 'Cervo-Neue-Regular', sans-serif;
  }

  #ordenar option{
    font-family: 'Cervo-Neue-Regular', sans-serif;
  }

  .filtros{
    display: flex;
    flex-direction: column;
    width: 20%;
    max-width: 155px;
    margin: 20px;
    background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.3));
    backdrop-filter: blur(1.2rem);
    border-radius: 0.2rem;
  }

  .filtros h3 {
    margin: 5px;
  }

  .filter-form{
    margin: 10px;
  }

  .filter-form > h3{
    font-family: 'Cervo-Neue-Bold', sans-serif;
    color: #65526a;
  }

  .category h3{
    margin: 5px;
    font-size: 16px;
    font-family: 'Cervo-Neue-Regular', sans-serif;
  }

  .filter-group-checkboxes{
    display: flex;
    flex-direction: column;
    margin: 5px;
  }

  .filter-group-checkboxes div label{
    font-family: 'Cervo-Neue-Light';
  }

  .productos{
    justify-content: flex-start;
  }

  .links i {
    font-size: 12px;
  }

  .contacto-box {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
  }
  
  .botones-comentario {
    text-align: right;
  }
  
}

@media (min-width: 1279px) {
  .registro {
    background-size: 33%;
  }
  .tabla-registro {
    width: 60%;
  }
  .tabla-registro h3 {
    font-size: 2em;
  }
  .tabla-registro p {
    font-size: 1em;
  }
  .tabla-registro h2 {
    font-size: 1em;
  }
  .register-form div {
    flex-direction: row;
    font-size: 1em;
  }
  .register-form div div label {
    font-size: 1.2em;
  }
  .button-register {
    font-size: 1.5em;
  }

  .links i {
    font-size: 14px;
  }

  header nav {
    font-size: 25px;
  }
}

