:root {
  --pale-pink: #f7d1cd;
  --queen-pink: #e8c2ca;
  --thistle: #d1b3c4;
  --glossy-grape: #b392ac;
  --old-lavender: #735d78;
  --logo-back: #e4d4dd;
  --dark-lavender: #65526a;
}

@font-face {
    font-family: Cervo-Neue-Black;
    src: url(CervoNeue-BlackNeue.otf);
}

@font-face {
    font-family: Cervo-Neue-Bold;
    src: url(CervoNeue-BoldNeue.otf);
}

@font-face {
    font-family: Cervo-Neue-Regular;
    src: url(CervoNeue-RegularNeue.otf);
}

@font-face {
    font-family: Cervo-Neue-Light;
    src: url(CervoNeue-LightNeue.otf);
}

@font-face {
    font-family: Museo-Sans-Thin;
    src: url(MuseoSans-100.otf);
}

@font-face {
    font-family: Museo-Sans-Light;
    src: url(MuseoSans-300.otf);
}

@font-face {
    font-family: Museo-Sans-Medium;
    src: url(MuseoSans-500.otf);
}

@font-face {
    font-family: Museo-Sans-Bold;
    src: url(MuseoSans-700.otf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Cervo-Neue-Bold', sans-serif;
}

header {
  background-color: #e4d4dd;
  width: 100%;
  padding: 15px;
  font-size: 14px;
}

header nav {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
  font-size: 12px;
}

nav a,
footer a {
  text-decoration: none;
  color: var(--dark-lavender);
}

footer {
  background-color: #e4d4dd;
  width: 100%;
}

footer div {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  font-size: 12px;
}

main {
  background-color: #d1b3c4;
}

h5 {
  padding-bottom: 20px;
  color: #735d78;
  font-weight: bold;
}

.logo {
  width: 50px;
  height: 50px;
}

.container {
  position: relative;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.container-2 {
  width: 90%;
  margin: 2rem auto;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(9, 5vw);
  grid-gap: 15px;
}

.gallery-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.gallery-item-1 {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 4;
}

.gallery-item-2 {
  grid-column-start: 4;
  grid-column-end: 7;
  grid-row-start: 1;
  grid-row-end: 4;
}

.gallery-item-3 {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 4;
  grid-row-end: 7;
}

.gallery-item-4 {
  grid-column-start: 4;
  grid-column-end: 7;
  grid-row-start: 4;
  grid-row-end: 7;
}

.gallery-item-5 {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 7;
  grid-row-end: 10;
}

.gallery-item-6 {
  grid-column-start: 4;
  grid-column-end: 7;
  grid-row-start: 7;
  grid-row-end: 10;
}

.historia {
  background-color: #e8c2ca;
  text-align: center;
  padding: 20px;
  font-size: 12px;
}

.contacto {
  text-align: center;
  padding: 15px;
  background-color: #e8c2ca;
  font-size: 12px;
}

.contacto i {
  padding: 10px;
  font-size: 22px;
  color: #735d78;
}

.seguir-comprando {
  padding: 15px;
  display: flex;
  justify-content: space-between;
}

.seguir-comprando a {
  text-decoration: none;
}

.seguir-comprando button {
  background-color: #735d78;
  color: #fff;
  text-shadow: none;
  box-shadow: none;
  padding: 5px;
}

.main-2 {
  background-color: #fff;
}

.shopping-cart {
  width: 100%;
  border: 2px solid #735d78;
}

.title {
  color: #735d78;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  padding: 15px 20px 15px 10px;
  font-size: 12px;
}

.image {
  width: 25%;
}

.item {
  display: flex;
}

.description {
  font-size: 10px;
  padding: 10px;
  width: 30%;
}

.quantity {
  width: 30%;
  text-align: center;
}

.total-price {
  width: 15%;
  text-align: center;
  font-size: 12px;
}

.ticket {
  width: 100%;
  border: 2px solid #f7d1cd;
  padding: 10px;
}

.ticket button {
  background-color: #735d78;
  color: #fff;
  text-shadow: none;
  box-shadow: none;
  padding: 5px;
}

.ticket-info {
  display: flex;
  justify-content: space-evenly;
}

.ticket-column-1 p,
.ticket-column-2 p {
  font-size: 12px;
  padding: 5px;
}

/* Login */

.login-background{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 40px 0;
    background-color: #b392ac;
    width: 300px;
    height: 400px;
    text-align: center;
    border-radius: 5px;
}

.login-form-container h3{
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 10px;
    color: white;
    font-size: 24px;
}

.login-form-container p{
    margin-bottom: 20px;
    font-family: 'Museo-Sans-Medium', sans-serif;
    color: #65526a;
    font-size: 14px;
}

.login-form-container p a{
    margin-bottom: 20px;
    font-family: 'Museo-Sans-Medium', sans-serif;
    font-size: 14px;
}

.login-form{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-control{
    width: 80%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.form-control label{
    display: block;
    align-self: flex-start;
    color: white;
    font-family: 'Cervo-Neue-Regular', sans-serif;
    font-size: 18px;
    margin-bottom: 5px;
    margin-top: 8px;
}

.form-control input{
    align-self: flex-start;
    width: 100%;
    height: 28px;
    font-family: 'Museo-Sans-Medium', sans-serif;
    font-size: 14px;
    color: #65526a;
    border: none;
    border-radius: 8px;
    padding-left: 4px;
}

.login-button{
    margin-top: 50px;
    border-radius: 12px;
    padding: 6px 28px;
    border: none;
    font-family: 'Cervo-Neue-Regular', sans-serif;
    font-size: 18px;
    background-color: #735d78;
    color: white;
}

@media (min-width: 480px) {
  header nav,
  .historia,
  .contacto {
    font-size: 18px;
  }

  header {
    font-size: 20px;
  }

  .logo {
    width: 100px;
    height: 100px;
  }

  .gallery {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(6, 5vw);
    grid-gap: 15px;
  }

  .gallery-item-1 {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 4;
  }

  .gallery-item-2 {
    grid-column-start: 4;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 4;
  }

  .gallery-item-3 {
    grid-column-start: 7;
    grid-column-end: 10;
    grid-row-start: 1;
    grid-row-end: 4;
  }

  .gallery-item-4 {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 4;
    grid-row-end: 7;
  }

  .gallery-item-5 {
    grid-column-start: 4;
    grid-column-end: 7;
    grid-row-start: 4;
    grid-row-end: 7;
  }

  .gallery-item-6 {
    grid-column-start: 7;
    grid-column-end: 10;
    grid-row-start: 4;
    grid-row-end: 7;
  }

  .title {
    font-size: 14px;
  }

  .description {
    font-size: 12px;
  }

  .container-product-cart {
    display: flex;
  }

  footer div {
    font-size: 18px;
  }
}
