<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head') %>
<body>
    <%- include('../partials/header') %>
    <main>
        <section>
            <div class="mySlides">
                <div class="numbertext"></div>
                  <img src="/img/homepage/1.png" style="width:100%">
              </div>
              <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
              <a class="next" onclick="plusSlides(1)">&#10095;</a>
        </section>
        <section>
            <header>
                <h2>Acerca de nosotros</h2>
            </header>
            <article id="historia-link" class="historia">
                Nuestra historia: The IceCreamShop nace en 2021 como un proyecto de las fundadoras Ana Hernández, Angélica Figueroa, 
                y Victoria Fierro con el objetivo de crear una página web que concentre las mejores marcas de helado a nivel mundial.
                Nuestro objetivo es llevar hasta la puerta de tu casa los mejores sabores y texturas con sólo un click. Nos interesa 
                brindar experiencias nuevas, por lo que siempre encontrarás nuevos productos en la página, siempre comprometidos a que 
                los mismos estén elaborados con ingredientes de la más alta calidad.
            </article>
        </section>
        <section id="marcas-link" class="container-2">
            <div class="gallery">
            <figure class="gallery-item-1">
                <div class="text-brand">
                <h2>Ben & Jerry's</h2>
                <p>Desde una estación de servicio renovada en Burlington, Vermont, 
                   hasta lugares lejanos con nombres que a menudo pronunciamos mal, 
                   el viaje que comenzó en 1978 con dos tipos, y el negocio de helados 
                   que construyeron es tan legendario como el helado es eufórico.
                </p>
            </div>
                <img src="/img/homepage/ben-jerrys-ad.jpg"class="gallery-img" alt="Image 1">
            </figure>
            <figure class="gallery-item-2">
                <div class="text-brand">
                    <h2>Thrifty</h2>
                    <p>Thrifty Ice Cream es una empresa 100% norteamericana fundada 
                       en el Estado de California en 1940, que se ha dedicado exclusivamente 
                       a la elaboración de helados de crema de la más alta calidad.
                    </p>
                </div>
                <img src="/img/homepage/thrifty-ad.jpg" class="gallery-img" alt="Image 2">
            </figure>
            <figure class="gallery-item-3">
                <div class="text-brand">
                    <h2>Häagen Dazs</h2>
                    <p>Häagen-Dazs ha fabricado helados como ningún otro desde 1960. 
                        La visión de su fundador, Reuben Mattus, fue desarrollar el helado 
                        más extraordinario que el mundo haya probado, una cucharada de lujo 
                        para escapar de lo cotidiano.
                    </p>
                </div>
                <img src="/img/homepage/haagen-ad.jpg" class="gallery-img" alt="Image 3">
            </figure>
            <figure class="gallery-item-4">
                <div class="text-brand">
                    <h2>Holanda</h2>
                    <p>Helados Holanda tiene su origen en 1927 cuando Don Francisco Alatorre 
                       instaló un puesto en el jardín del Buen Tono junto al actual mercado 
                       de San Juan en el centro de la Ciudad de México. Desde entonces su misión
                       ha sido poner tantas sonrisas en la gente como sea posible ofreciendo productos 
                       tanto clásicos como deliciosos.
                    </p>
                </div>
                <img src="/img/homepage/holanda-ad-2.jpg" class="gallery-img" alt="Image 4">
            </figure>
            <figure class="gallery-item-5">
                <div class="text-brand">
                    <h2>Blue Bell</h2>
                    <p>Blue Bell Ice Cream es elaborado a la antigua, utilizando los ingredientes
                       más deliciosos y de la más alta calidad. Lo cual complementan con las habilidades 
                       y el conocimiento que han desarrollado durante más de 100 años 
                       de producir más sabores de los que se pueden alcanzar con una cuchara.
                    </p>
                </div>
                <img src="/img/homepage/blue-bell-ad.jpg" class="gallery-img" alt="Image 5">
            </figure>
            </div>
        </section>
       <div id="contactanos-link" class="contacto-box">
        <section class="contacto">
            <p>Síguenos en Instagram<a href="#">@TheIceCreamShop</a></p>
            <i class="fab fa-instagram"></i>
        </section>
        <section class="comentario">
            <textarea name="textarea" rows="10" cols="40">    Déjanos tus comentarios</textarea>
            <div class="botones-comentario">
                <button type="reset" class="comments-button-left">Borrar</button>
                <button type="submit" class="comments-button-right">Enviar</button>
            </div>
        </section>
       </div>
    </main>
    <%- include('../partials/footer') %>
</body>
</html>