<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>The Ice Cream Shop</title>
    <link rel="stylesheet" href="/css/normalize.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap"
      rel="stylesheet"
    />
  </head>
  <h1>Esta es la vista EJS</h1>
  <body>
    <header>
      <nav>
        <a href="/productList">Comprar</a>
        <a href="/index#marcas-link">Marcas</a>
        <img
          class="logo"
          src="/img/logotipo-sin.png"
          alt="Logotipo empresa"
          title="logotipo"
        />
        <a href="/index#historia-link">Historia</a>
        <a href="/index#contactanos-link">Contacto</a>
      </nav>
    </header>
    <main class="main-login">
      <div class="glass-container">
        <section class="glass-login">
          <h3>Acceder</h3>
          <p>¿Aún no tienes cuenta?<a href="/register"> Regístrate aquí</a></p>
          <form action="" class="login-form">
            <div class="form-control">
              <label for="correo">email</label>
              <input type="email" name="correo" id="correo" required/>
            </div>
            <div class="form-control">
              <label for="pass">constraseña</label>
              <input type="password" name="pass" id="pass" required/>
            </div>
            <div class="form-control">
              <a href="">¿Olvidaste tu constraseña?</a>
            </div>
            <div class="form-control">
              <label>Recordarme <input type="checkbox" /></label>
            </div>
            <button type="submit" class="login-button">INGRESAR</button>
          </form>
        </section>
        <img src="/img/ice-cream-cone.svg" class="ice-cream-cone-img-1" />
        <img src="/img/ice-cream-cone.svg" class="ice-cream-cone-img-2" />
      </div>
    </main>

    <footer>
      <div>
        <a href="/productList">Comprar</a>
        <a href="/index#historia-link">Acerca de nosotros</a>
        <a href="/index#marcas-link">Marcas</a>
        <a href="/index#contactanos-link">Contacto</a>
      </div>
    </footer>
  </body>
</html>
