<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head') %>
<body>
    <%- include('../partials/header') %>
    <main class="main-2">
        <div class="seguir-comprando" style="width: 100%;">
            <a href="/products/productList"> < Seguir comprando</a>
        </div>

    <div class="container-product-cart">
        
        <div class="shopping-cart" style="max-width: 550px;">
            <!-- Title -->
            <div class="title">
                <p>Tus productos</p>
                <p>Descripción</p>
                <p>Cantidad</p>
                <p>Precio</p>
            </div>
    
            <!-- Product #1 -->
            <div class="item">
              
             <div class="image">
                <img src="/img/products/3.png" style="width: 100%;" alt="Product-1" />
             </div>
 
            <div class="description">
                <span>Blue Bell Ice Cream</span>
                <span>Chocolate Sheet Cake</span>
                <div><a href="#">Eliminar</a></div>
            </div>
 
            <div class="quantity">
                <button class="plus-btn" type="button" name="button">
                    <img src="/img/plus.png" alt="" style="width: 10px;">
                </button>
                <input type="text" name="name" value="1" style="width: 25%; text-align: center;">
                <button class="minus-btn" type="button" name="button">
                    <img src="/img/minus.png" alt="" style="width: 10px;">
                </button>
             </div>
 
            <div class="total-price">$99</div>
            </div>
 
            <!-- Product #2 -->
            <div class="item">
                <div class="buttons">
                    <span class="delete-btn"></span>
                </div>
 
            <div class="image">
                <img src="/img/products/2.png" style="width:100%;" alt=""/>
            </div>
 
            <div class="description">
                <span>Blue Bell Ice Cream</span>
                <span>Southern Blackberry Cobbler</span>
                <div><a href="#">Eliminar</a></div>
            </div>
 
            <div class="quantity">
                <button class="plus-btn" type="button" name="button">
                    <img src="/img/plus.png" alt="" style="width: 10px;">
                </button>
                <input type="text" name="name" value="1" style="width: 25%; text-align: center;">
                <button class="minus-btn" type="button" name="button">
                    <img src="/img/minus.png" alt="" style="width: 10px;">
                </button>
            </div>
 
            <div class="total-price">$99</div>
        </div>
        </div>

        <div class="ticket" style="max-width: 550px;">
            <h5>RESUMEN DE COMPRA</h3>
            <div style= "text-align: center;">
                <button type="submit" class="boton-formulario">SECURE CHECKOUT</button>
            </div>
            <div class="ticket-info">
                <div class="ticket-column-1">
                    <p>SUBTOTAL</p>
                    <p>ENVÍO</p>
                    <p>IMPUESTOS</p>
                    <p style="font-weight: bold;">Total</p>
                </div>    
                <div class="ticket-column-2">
                    <p>$198</p>
                    <p>GRATIS</p>
                    <p>$31.68</p>
                    <p>$229.68</p>
                </div>
            </div>
        </div>

    </div>

        <div class="seguir-comprando" style="width: 100%;">
            <a href="/products/productList"> < Seguir comprando</a>
            <button type="submit" class="boton-formulario">SECURE CHECKOUT</button>
        </div>  
    </main>
    <%- include('../partials/footer') %>
</body>
</html>