<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head') %>
  <body>
    <%- include('../partials/header') %>
    <main class="mainPerfil">
      <section class="enh3">
        <article class="perfil">
          <h3>Perfil</h3>
          <form action="" class="">
            <input type="file" name="fotoPerfil" id="fotoPerfil">
            <label for="nombre">Nombre
            <input type="text" name="nombre" id="nombre" placeholder="p. ej. Daniela" minlength="6" required></label>
            <label for="apellido">Apellido
            <input type="text" name="apellido" id="apellido" placeholder="p. ej. Campos" minlength="6" required></label>
            <label for="correo">Correo electr칩nico
            <input type="email" name="correo" id="correo" placeholder="p. ej. danielacampos@hotmail.com" required></label>
            <label for="contra">Contrase침a
            <input type="password" name="contra" id="contra" minlength="8" required></label>
            <label for="contra2">Confirmar contrase침a
            <input type="password" name="contra2" id="contra2" minlength="8" required></label>
            <button type="submit" class="">GUARDAR CAMBIOS</button>
          </form>
          <a href="/addProduct"><button type="submit" class="bt">AGREGAR PRODUCTO</button></a>
        </article>
        <article class="historial">
            <h3>Historial de compras</h3>
            <form action="">
              <label class="fec">Fecha: 
              <select name="fechas" id="fechas">
                <option value="junio">15 Enero 2021</option>
                <option value="junio">21 Marzo 2021</option>
                <option value="junio">06 Abril 2021</option>
                <option value="junio">26 Mayo 2021</option>
                <option value="junio">27 Mayo 2021</option>
                <option value="junio">01 Junio 2021</option>
              </select>
            </label>
            <div class="titulos">
              <h1>Productos</h1>
              <h1>Descripci칩n</h1>
              <h1>Cantidad</h1>
              <h1>Totales</h1>
            </div>
          <div>
            <img src="/img/holanda-chocolate.webp" alt="producto">
            <a href="/productDetail">Holanda Chocolate</a>
            <p>1</p>
            <p>$49.99</p>
          </div>
          <div>
            <img src="/img/holanda-vainilla.webp" alt="producto">
            <a href="/productDetail">Holanda Vainilla</a>
            <p>1</p>
            <p>$48.00</p>
          </div>
            <div class="pagoFinal">
              <h1>Total pagado:</h1>
              <p>$97.99</p>
            </div>
            </form>
        </article>
      </section>
    </main>
    <%- include('../partials/footer') %>
  </body>
</html>