<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head') %>
  <body>
    <%- include('../partials/header') %>
    <main class="main-register">
        <div class="glass-container-register">
          <section class="glass-register">
            <h3>Registro</h3>
            <p>¿Aún no tienes cuenta?<a href="/register"> Regístrate aquí</a></p>
            <form action="" class="register-form">
                <div>
                    <div>
                    <label for="nombre">Nombre</label>
                    <input type="text" name="nombre" id="nombre" placeholder="p. ej. Daniela" minlength="6" required>
                    </div>
                    <div>
                    <label for="apellido">Apellido</label>
                    <input type="text" name="apellido" id="apellido" placeholder="p. ej. Campos" minlength="6" required>
                    </div>
                </div>
                <div>
                    <div>
                    <label for="correo">Correo electrónico</label>
                    <input type="email" name="correo" id="correo" placeholder="p. ej. danielacampos@hotmail.com" required>
                    </div>
                    <div>
                    <label for="contra">Contraseña</label>
                    <input type="password" name="contra" id="contra" minlength="8" required>
                    </div>
                </div>
                <div>
                    <div>
                    <label for="contra2">Confirmar contraseña</label>
                    <input type="password" name="contra2" id="contra2" minlength="8" required>
                    </div>
                </div>
                <div class="condiciones-div">
                <label class="condiciones-register"><input type="checkbox" required> Acepto los Términos de Uso y la Política de Privacidad.</label>
            </div>
                <button type="submit" class="register-button">CREAR CUENTA</button>
                  </form>
                  <h2>¿Ya tienes una cuenta? <a href="/login">Iniciar sesión</a></h2>
          </section>
          <img src="/img/ice-cream-cone.svg" class="ice-cream-reg-img-1" />
          <img src="/img/ice-cream-cone.svg" class="ice-cream-reg-img-2" />
        </div>
      </main>
    <%- include('../partials/footer') %>
  </body>
</html>
