<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head') %>
  <body>
    <%- include('../partials/header') %>
    <main class="main-register">
        <div class="glass-container-register">
          <section class="glass-register">
            <h3>Registro</h3>
            <form action="/register" method="POST" enctype="multipart/form-data" class="register-form">
                <div>
                  <div>
                    <label for="foto">Foto de perfil</label>
                    <input type="file" name="foto" id="foto">
                  </div>
                    <div>
                    <label for="firstName">Nombre</label>
                    <input type="text" name="firstName" id="firstName" placeholder="p. ej. Daniela" minlength="6" required>
                    </div>
                    <div>
                    <label for="lastName">Apellido</label>
                    <input type="text" name="lastName" id="lastName" placeholder="p. ej. Campos" minlength="6" required>
                    </div>
                </div>
                <div>
                    <div>
                    <label for="email">Correo electrónico</label>
                    <input type="email" name="email" id="email" placeholder="p. ej. danielacampos@hotmail.com" required>
                    </div>
                    <div>
                    <label for="password">Contraseña</label>
                    <input type="password" name="password" id="password" minlength="8" required>
                    </div>
                </div>
                <div>
                    <div>
                    <label for="passwordConfirm">Confirmar contraseña</label>
                    <input type="password" name="passwordConfirm" id="passwordConfirm" minlength="8" required>
                    </div>
                </div>
                <div class="condiciones-div">
                <label class="condiciones-register""><input type="checkbox" required> Acepto los Términos de Uso y la Política de Privacidad.</label>
            </div>
                <button type="submit" class="register-button" id="botoncrear">CREAR CUENTA</button>
                  </form>
                  <h2>¿Ya tienes una cuenta? <a href="/login">Iniciar sesión</a></h2>
          </section>
          <img src="/img/ice-cream-cone.svg" class="ice-cream-reg-img-1" />
          <img src="/img/ice-cream-cone.svg" class="ice-cream-reg-img-2" />
        </div>
      </main>
    <%- include('../partials/footer') %>
  </body>
</html>
