<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>The Ice Cream Shop</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="/css/normalize.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <header>
      <nav>
          <a href="/productList">Comprar</a>
          <a href="/index#contactanos-link">Contáctanos</a>
          <img class= "logo" src="/img/logotipo-sin.png" alt="Logotipo empresa" title="logotipo">
          <a href="/index#historia-link">Historia</a>
          <a href="/index#marcas-link">Marcas</a>
          <div class="links">
              <a href="/productCar"><i class="fas fa-shopping-cart"></i></a>
              <a href="/login"><i class="fas fa-sign-in-alt"></i></a>
              <a href="/register"><i class="fas fa-user-plus"></i></a>
              <a href="/profile"><i class="far fa-user"></i></a>
          </div>
      </nav>
  </header>
    <main class="main-product-list">
        <div class="ordenar-filtar-container">
          <button class="ordenar-filtrar-button">Ordenar & Filtrar</button>
          <div class="ordenar-checkbox-container">
          <label for="ordenar">Ordenar por: </label>
          <select name="ordenar" id="ordenar">
            <option value="populares">Mas populares</option>
            <option value="recientes">Recientes</option>
            <option value="precio-as">Precio: ascendente</option>
            <option value="precio-des">Precio: descendente</option>
          </select>
        </div>
        </div>
        <div class="filters-products">
        <div class="filtros">
          <form action="GET" class="filter-form">
            <h3>Filtros</h3>
            <div class="category">
              <h3>Marcas</h3>
              <div class="filter-group-checkboxes">
                <div>
                  <label><input type="checkbox" name="holanda"> Holanda</label>
                </div>
                <div>
                  <label><input type="checkbox" name="b&j"> Ben & Jerry's</label>
                </div>
                <div>
                  <label><input type="checkbox" name="hageen"> Häagen-Dazs</label>
                </div>
                <div>
                  <label><input type="checkbox" name="blue"> Blue Bell</label>
                </div>
                <div>
                  <label><input type="checkbox" name="thrifty"> Thrifty</label>
                </div>
              </div>
            </div>
            <div class="category">
              <h3>Precio</h3>
              <div class="filter-group-checkboxes">
                <div>
                  <label><input type="checkbox" name="ceroAVeinte"> 0 - $25</label>
                </div>
                <div>
                  <label><input type="checkbox" name="veinticinco"> $25 - $50</label>
                </div>
                <div>
                  <label><input type="checkbox" name="cincuenta"> $50 - $75</label>
                </div>
                <div>
                  <label><input type="checkbox" name="setentaCien"> $75 - $100</label>
                </div>
                <div>
                  <label><input type="checkbox" name="cien"> $100 - $125</label>
                </div>
                <div>
                  <label><input type="checkbox" name="cienCincuenta"> $125 - $150</label>
                </div>
                <div>
                  <label><input type="checkbox" name="cienCincuentaDos"> $150 - $200</label>
                </div>
                <div>
                  <label><input type="checkbox" name="doscientosMas"> $200+</label>
                </div>
              </div>
            </div>
            <button type="button" class="apply-button">Aplicar</button>
        </form>
        </div>
        <div class="productos">
          <a href="/productDetail">
          <article class="product-container">
            <div>
            <img src="/img/ben-jerry-mint-chocolate.webp" alt="">
          </div>
            <h4>Ben & Jerry's Mint Chocolate Cookie Ice Cream</h4>
            <p>Precio</p>
        </article>
      </a>
      <a href="/productDetail">
        <article class="product-container">
          <div>
            <img src="/img/ben-jerry-strawberry-cheesecake.webp" alt="">
          </div>
            <h4>Ben & Jerry's Strawberry Cheesecake Ice Cream</h4>
            <p>Precio</p>
        </article>
      </a>
      <a href="/productDetail">
        <article class="product-container">
          <div>
            <img src="/img/ben-jerry-netflix-chilld.png" alt="">
          </div>
            <h4>Ben & Jerry's Netflix & Chill'd Ice Cream</h4>
            <p>Precio</p>
        </article>
      </a>
      <a href="/productDetail">
        <article class="product-container">
          <div>
            <img src="/img/Pina-Colada-Pint.png" alt="">
          </div>
            <h4>Hägeen Dazs Piña Colada Ice Cream</h4>
            <p>Precio</p>
        </article>
      </a>
      <a href="/productDetail">
        <article class="product-container">
          <div>
            <img src="/img/Lime-Mojito-Pint.png" alt="">
          </div>
            <h4>Hägeen Dazs Lime Mojito Sorbet Ice Cream</h4>
            <p>Precio</p>
        </article>
      </a>
      <a href="/productDetail">
        <article class="product-container">
          <div>
            <img src="/img/vanilla-haagen.png" alt="">
          </div>
            <h4>Hägeen Dazs Vanilla Ice Cream</h4>
            <p>Precio</p>
        </article>
      </a>
      <a href="/productDetail">
        <article class="product-container">
          <div>
          <img src="img/BlueBell_ChocChip.png" alt="">
        </div>
          <h4>Blue Bell Chocolate Chip Cookie Dough Ice Cream</h4>
          <p>Precio</p>
      </article>
    </a>
    <a href="/productDetail">
      <article class="product-container">
        <div>
        <img src="/img/holanda-vainilla.webp" alt="">
      </div>
        <h4>Holanda Vanilla Ice Cream</h4>
        <p>Precio</p>
    </article>
  </a>
        </div>
      </div>
    </main>
    <footer>
      <div>
        <a href="/productList">Comprar</a>
        <a href="/index#historia-link">Acerca de nosotros</a>
        <a href="/index#marcas-link">Marcas</a>
        <a href="/index#contactanos-link">Contacto</a>
      </div>
    </footer>
  </body>
</html>
