<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Fenix&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Cardo:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/normalize.css" />
    <link rel="stylesheet" href="/css/style.css">
    <title>Detalle del Producto</title>
</head>
<body>
    <header>
        <nav>
            <a href="/productList">Comprar</a>
            <a href="/index#contactanos-link">Contáctanos</a>
            <img class= "logo" src="/img/logotipo-sin.png" alt="Logotipo empresa" title="logotipo">
            <a href="/index#historia-link">Historia</a>
            <a href="/index#marcas-link">Marcas</a>
            <div class="links">
                <a href="/productCar"><i class="fas fa-shopping-cart"></i></a>
                <a href="/login"><i class="fas fa-sign-in-alt"></i></a>
                <a href="/register"><i class="fas fa-user-plus"></i></a>
                <a href="/profile"><i class="far fa-user"></i></a>
            </div>
        </nav>
    </header>
    <main>
        <section class="detail">
            <article class="product-img">
                <img src="/img/holanda-chocolate.webp" alt="imagen-producto" title="helado-holanda-chocolate">
            </article>
        <div>
            <article class="descripcion">
                <h1>Holanda: Sabor Chocolate</h1>
                <h3>Descripción:</h3>
                <p>Conformado por leche descremada rehidratada (31%), agua, azúcares, grasa vegetal (6.9%), sólidos de leche (leche descremada en polvo y suero de leche en polvo), cocoa en polvo, emulsificantes (mono, di y triglicéridos), alginato de sodio y saborizante idéntico al natural.</p>
        <form action="">
                <h3>Presentación:</h3>
            <div class="inputs">
                <input type="radio" name="tamano" id="medio"> 1/2 Litro
                <input type="radio" name="tamano" id="litro"> 1 Litro
                <input type="radio" name="tamano" id="litromas"> 1.89 Litros
            </div>
            <div class="precios">
                <h3>Precio:</h3>
                <p>$49.99</p>
            </div>
            <label for="cantidadCompra">Cantidad:</label>
            <input type="number" name="cantidad" id="cantidadCompra" step="1" min="1" max="100" maxlength="3" value="1">
            <button type="submit">AGREGAR AL CARRITO DE COMPRA</button>
        </form>
            </article>
        </div>
        </section>
    </main>
    <footer>
        <div>
            <a href="/productList">Comprar</a>
            <a href="/index#historia-link">Historia</a>
            <a href="/index#marcas-link">Marcas</a>
            <a href="/index#contactanos-link">Contáctanos</a>
        </div>
    </footer>
</body>
</html>